<article>
  <a href="/dash"> &larr; Back to dashboard</a>
  <h2>
    Edit Post
  </h2>
  <form class="edit-post-form">
    <div>
      <label name="post-title">{{post.post_title}}</label>
      <input
        name="post-title"
        id="post-title"
        type="text"
        value="{{post.post_title}}"
      />
    </div>
    <div>
      <label name="post-text">{{post.post_text}}</label>
      <input
        name="post-text"
        id="post-text"
        type="text"
        value="{{post.post_text}}"
      />
    </div>
    {{#each post.comments as |comment|}}
      <div> {{comment.comment_text}}</div>
      <span> {{comment.user.username}}</span>
    {{/each}}
    <button type="submit">Save post</button>
    <button type="button" class="delete-post-btn">Delete post</button>
  </form>
</article>

{{post.comments}}

<script src="/js/edit.js"></script>
<script src="/js/deletepost.js"></script>