    <div>Homepage</div>
    {{log posts}}
{{#each posts as |post|}}
<div><a href = /post/{{id}}>{{post_title}}</a></div>
{{#if loggedIn}}
<div class = "posts">{{post_text}}</div>

<div>{{created_at}}</div>
{{/if}}
{{/each}} 
