    
    <div class="container">
        <div class="row">
            <div class="center-align">Blog Posts</div>
{{log loggedIn}}
{{#if loggedIn}}
{{#each posts as |post|}}
<div class = "col s12 card-panel hoverable">
    <h5 class="center-align purple-text text-darken-4"><a href = /post/{{post.id}}>{{post.post_title}}</a></h5>

<div class = "posts purple-text text-darken-4">{{post_text}}</div>
<div>{{formatDate created_at}}</div>
</div>
{{/each}}
{{else}}
{{#each posts as |post|}}
<div class = "purple-text text-darken-4"><a href = /post/{{post.id}}>{{post.post_title}}</a></div>
<div class="purple-text text-darken-4">Please login to view these posts.</div>
{{/each}}
{{/if}}
</div>
</div>