<div class="container">
  <div class="row">
<div class ="col s12 card-panel purple-text text-darken-4">

<h5> {{post.post_title}}</h5>
<h6> {{post.post_text}}</h6>
<div> Author: {{post.user.username}}</div>
<div> Date Created: {{formatDate post.created_at}}</div>
<h5 class="comments black-text center-align">Comments</h5>
{{#each post.comments as |comment|}}
  <p> {{comment.comment_text}}</p>
  <p>--{{comment.user.username}} {{formatDate comment.created_at}}</p>
{{/each}}
{{#if loggedIn}}

  <form class="comment-form">
    <div>
      <textarea name="comment-body"></textarea>
    </div>

    <div>
      <button type="submit" class="btn purple darken-4">add comment</button>
    </div>

  </form>
  </div>
  </div>
  </div>
{{/if}}

{{#if loggedIn}}
  <script src="/js/comment.js"></script>
{{/if}}

