
    <div>You are on the view specific post</div>
    <div> {{post.post_title}}</div>
    <div> {{post.post_text}}</div>
    <div> {{post.user.username}}</div>
    <div> {{post.created_at}}</div>

{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
  </div>
  {{#each post.comments as |comment|}}
<div> {{comment.comment_text}}</div>
<div> {{comment.user.username}}</div>
{{/each}}
</form>
{{/if}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}


{{log post}}

